#table {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  text-align: center;
  margin: 1em;
  width: 10em;
  height: 5em;
  border-radius: 1em;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.green {
  background-color: #a2e6a2;
}

.white {
  background-color: #f2ecd3;;
}

.black {
  background-color: #b1b1b1;
}

.correct {
  background-color: #66bc66;
}

.me_wrong {
  border-bottom-color: #d10303;
  border-right-color: #d10303;
}

.they_wrong {
  border-top-color: #d10303;
  border-left-color: #d10303;
}

input[type="number"] {
  width: 2em;
}